
<div id="minigamebox"
    hx-get="/api/v1/minigamebox"
    hx-trigger="load delay:1s"
    hx-swap="outerHTML">
    {% if game == 'trivia' %}
        {% if roundover == 'true' %}
            <h3>Last game: Trivia</h3>
        {% endif %}
        {% if roundover == 'false' %}
            <h3>Running game: Trivia</h3>
        {% endif %} 
        <h4>Question: {{ question }}</h4>
        <ul>
            {% for answer in answers %}
            <li>{{ answer }}</li>
            {% endfor %}
        </ul>
        <p>Correct answer: {{ correctanswer }}</p>
        <p>Number of guesses: {{ number_of_attempts }}</p>
        <p>Round Winner: {{ winner }}</p>
    {% endif %}

    {% if game == 'wordle' %}
        {% if roundover == 'true' %}
            <h3>Last game: wordle</h3>
        {% endif %}
        {% if roundover == 'false' %}
            <h3>Running game: wordle</h3>
        {% endif %} 
        <h4>Word: {{ roundword }}</h4>
        <p>Number of guesses: {{ number_of_attempts }}</p>
        <p>Guessed Words: {{ guessedletters }}</p>
        <p>Wrong letters: {{ wrongletters }}</p>
        <p>Misplassed letters: {{ misplacedletters }}</p>
        <p>Correct letters: {{ correctletters }}</p>
        <p>Round Winner: {{ winner }}</p>
    {% endif %}
    
    {% if game == 'none' %}
    <h4>No game running</h4>
    {% endif %}
</div>
